<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="./layui/css/layui.css">
    <link rel="stylesheet" href="./layui/css/admin.css">
</head>

<body class="layui-layout-body hide">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">layui 后台布局</div>
            <ul class="layui-nav layui-layout-left " id="head_menu">
                <li class="layui-nav-item">
                    <a lay-href="javascript:;" class="layui-icon layui-icon-shrink-right" lay-active="app_flexible">
                    </a>
                </li>

                <li class="layui-nav-item" v-for="(menu, key) in menu_list">
                   <a lay-active="head_menu_click" :id="key">
                     {{ menu.name }} 
                        <span class="layui-badge"> {{ menu.badge }}</span>
                    </a>
                </li>

                <li class="layui-nav-item"><a lay-href="">商品管理</a></li>
                <li class="layui-nav-item"><a lay-href="">用户</a></li>
                <li class="layui-nav-item">
                    <a lay-href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="">邮件管理</a></dd>
                        <dd><a lay-href="">消息管理</a></dd>
                        <dd><a lay-href="">授权管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a lay-href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="">邮件管理</a></dd>
                        <dd><a lay-href="">消息管理</a></dd>
                        <dd><a lay-href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a lay-href="javascript:;">
                        <!-- <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> -->
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="">基本资料</a></dd>
                        <dd><a lay-href="">安全设置</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black" id="menu_list">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home/console.html">
                    <span>layuiAdmin</span>
                </div>

                <ul class="layui-nav layui-nav-tree">
                    <li  v-for="(menu,key) in menu_side" class="layui-nav-item"  lay-active="side_li_click">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>{{menu.name}}</cite>
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd class="app_request" v-for="(menu1,key1) in menu.childs">
                                <a lay-active="app_request" lay-href="home/console.html">
                                    <cite>{{menu1.name}}</cite>
                                </a>
                            </dd>
                            
                        </dl>
                    </li>
                    <span class="layui-nav-bar" style="top: 28px; height: 0px; opacity: 0;"></span>
                </ul>
            </div>
        </div>
        <div class="layui-body" id="layui-body">
            <div class="layui-tab layui-tab-brief main-layout-tab">
                <ul class="layui-tab-title" id="menu_labes">
                    <li class="welcome">后台主页
                        <i class="layui-icon layui-unselect layui-tab-close">ဆ</i>
                    </li>
                </ul>
            </div>
            <div style="padding: 15px;">
                sssss
            </div>
        </div>
    </div>
    <script src="./layui/layui.js"></script>
    <script src="./layui/vue.min.js"></script>
    <script src="./layui/jquery.js"></script>
    <script src="./layui/main.js"></script>
    <script>
    var memu_list ={"list":[{"name":"控制台","icon":"layui-icon layui-icon-home","badge":"12","childs":[{"name":"主页","icon":"layui-icon layui-icon-home","badge":"12","childs":[{"name":"主页","icon":"layui-icon layui-icon-home","badge":"12"},{"name":"主页","icon":"layui-icon layui-icon-home","badge":"12"}]},{"name":"组件","icon":"icon","badge":"12"}]},{"name":"控制台1","icon":"layui-icon layui-icon-home","badge":"12","childs":[{"name":"主页12","icon":"layui-icon layui-icon-home","badge":"12","childs":[{"name":"主页12","icon":"layui-icon layui-icon-home","badge":"12"},{"name":"主页12","icon":"layui-icon layui-icon-home","badge":"12"}]},{"name":"组件1","icon":"icon","badge":"12"}]}],"type":"1"};

 var vue_data  = {
            menu_list:memu_list.list,
            menu_side:memu_list.list[0].childs,
        };
        plt.vue_option("#head_menu",vue_data);
        plt.vue_option("#menu_list",vue_data);

    //JavaScript代码区域
    layui.use(['layer', 'util', "element"], function() {
       
        var element = layui.element;
        var layer = layui.layer,
            $ = layui.jquery;
        var util = layui.util;
        var app_request_click = false;

        util.event('lay-active', 
        {
            app_flexible: function() {
                if ($(this).hasClass("layui-icon-shrink-right")) {
                    $(this).removeClass("layui-icon-shrink-right");
                    $(this).addClass("layui-icon-spread-left");
                    $("#menu_list").addClass("hide");
                    $("#layui-body").addClass("layui-body-all");
                    $("#layui-body").removeClass("layui-body");
                } else {
                    $(this).removeClass("layui-icon-spread-left");
                    $(this).addClass("layui-icon-shrink-right");
                    $("#menu_list").removeClass("hide");
                    $("#layui-body").addClass("layui-body");
                    $("#layui-body").removeClass("layui-body-all");
                }
            },
            app_request:function(evt){
                app_request_click = true;
                var href = $(this).attr("lay-href");
                var text = $(this).find("cite").text();
                $("#menu_labes li").removeClass("layui-this");
                var lable_html = '<li lay-id="5" class="layui-this">'+text+'<i class="layui-icon layui-unselect layui-tab-close">ဆ</i></li>';
                $("#menu_labes").append(lable_html);
            },
            head_menu_click:function()
            {
                var id = $(this).attr("id");
                vue_data.menu_side = memu_list.list[id].childs;
            },
            
        });
    });
    </script>
</body>
</html>




